/* css type selectors  */

a:hover {
    color: rgb(204, 8, 8);
}


li {

    padding-top: .5em;
    padding-bottom: .5em;
}

/* header image on home page */

.banner-image {
  height: 650px;
  background-image: url('Pictures/Wedding/silhouette.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  font-family: "Cormorant", 'serif';
  font-size: 20px;
}

.column {
  margin-right: 2em;
  padding: 10px;
  flex: 50%;
}

.wedding-homepage {
  margin-left: 10em;
  border-radius: 25% 10%;
}

.wedding-homepage2 {
  margin-right: 2em;
  border-radius: 25% 10%;
}


.top-banner {
	/* padding-top: 50px;
	color: white;
	font-size: 20px;
	text-align: center; */

  font-family: "Cormorant", 'serif';
  color: white;
  font-size:30px;
  text-align: center;
  opacity: .80;
  padding-top: 50px;
  padding-right: 28px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 1em;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(61, 39, 7);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: sticky;
  display: inline-block;
  padding: 20px 0 0 10px;
  top: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #df9f40;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(199, 91, 91, 0.562);
  z-index: 1;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



/* This is the background color of the website initally */
.background-gradient {
    background: rgb(0, 0, 0);
}

body {
  height: 700px;
  background: linear-gradient(#000000, #f1be7d);
}

/* This is a similarr text to what Josh Lepik used with our engagement photo website */
.header {
    font-family: "Cormorant", 'serif';
    font-size:22px;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-right: 28px;
}

.header2 {
  font-family: "Cormorant", 'serif';font-size:22px;
  text-align: center;
  padding-top: 10px;
  
}

.header-spacing {
  padding: .2px
}

/* Make the boxes corners round instead of square */
.cornerRadius {
    border-radius: 5%;
    border: 1px;
    padding: 10px;
}

.border-radius {
  border-radius: 5%;
}

/* Give text a drop down shadow that is blurred */
.textShadow {
    text-shadow: 2px 2px 8px #888888;

}

.midWebsite {
    font-family: "Cormorant", 'serif';font-size:22px;
    color: white;
    text-shadow: 2px 2px 8px #888888;
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.midWebsite2 {
    font-family: "Cormorant", 'serif';font-size:20px;
    color: white;
    text-align: center;
    padding: 1em;
}

.divider {
    text-align: center;
    opacity: 60%;
}

.videoWrapper {
    border-radius: 5%;
    border: 1px;
    padding: .5em;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 14px;
    margin-left: -494px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(236, 216, 216, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* CSS Grid container for image gallery */
.gridContainerVacay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-columns: 1fr;
  grid-auto-rows: .80fr;
  grid-auto-flow: row; */
  justify-content: center;
  place-items: center;
  grid-gap: 6rem;
  margin: 0px 8rem;
}

.gridContainerVacay > div {
  margin: 2rem 0
}

.gridContainerVacay > div > img {
  width: 100%;
  height: 100%
}

.gridContainerVacay2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  place-items: center;
  grid-gap: 2rem;
  margin: 0 2rem;
}

/* .item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
} */

