/* css type selectors  */

a:hover {
    color: green;
}


li {

    padding-top: .5em;
    padding-bottom: .5em;
}



/* This is the linear gradient for the background color that is yellow/green */
.background-gradient {
    background: rgb(253,255,239);
    background: radial-gradient(circle, rgba(253,255,239,1) 37%, rgba(240,255,234,1) 100%);

    
    /* background: rgb(45,150,155);
    background: linear-gradient(131deg, rgba(45,150,155,0.2) 29%, rgba(165,35,110,0.2) 100%); */
    
    /* background-color: #ffe5d6;
    background-image: linear-gradient(62deg, #ffe5d6 0%, #f7e9bb 100%); */
    

}

/* This is a similarr text to what Josh Lepik used with our engagement photo website */
.header {
    font-family: "Cormorant", 'serif';font-size:22px;
    text-shadow: 2px 2px 8px #888888;
    text-align: center;
    opacity: .80;
    padding-top: 50px;
    padding-right: 28px;
    
}

.header2 {
  font-family: "Cormorant", 'serif';font-size:22px;
  text-align: center;
  opacity: .80;
  padding-top: 10px;
  
}

.header-spacing {
  padding: .2px
}

/* Make the boxes corners round instead of square */
.cornerRadius {
    border-radius: 5%;
    border: 1px;
    padding: 10px;
    box-shadow: 5px 10px 8px #504c4c;

}

.border-radius {
  border-radius: 5%;
}

/* Give text a drop down shadow that is blurred */
.textShadow {
    text-shadow: 2px 2px 8px #888888;

}

.midWebsite {
    font-family: "Cormorant", 'serif';font-size:22px;
    text-shadow: 2px 2px 8px #888888;
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.midWebsite2 {
    font-family: "Cormorant", 'serif';font-size:20px;
    text-shadow: 2px 2px 8px #888888;
    text-align: center;
    padding: 1em;
   
    

}

.divider {
    text-align: center;
    opacity: 60%;
}

.videoWrapper {
    border-radius: 5%;
    border: 1px;
    padding: .5em;
    box-shadow: 5px 8px 8px #888888;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;

}




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 14px;
    margin-left: -494px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(236, 216, 216, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/* CSS Grid container for image gallery */
.gridContainerVacay {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: .80fr;
  grid-auto-flow: row;
  justify-content: center;
  place-items: center;
  padding-left: 15px;
  padding-right: 15px
}

.gridContainerVacay2 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  place-items: center;
}

.item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.item-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

