
/* This is the linear gradient for the background color that is yellow/green */
.background-gradient {
    background: rgb(253,255,239);
    background: radial-gradient(circle, rgba(253,255,239,1) 37%, rgba(240,255,234,1) 100%);
}

/* This is a similarr text to what Josh Lepik used with our engagement photo website */
.header {
    font-family: "Cormorant", 'serif';font-size:22px;
    text-align: center;
    opacity: .80;
    padding-top: 50px;
    
}

/* Make the boxes corners round instead of square */
.cornerRadius {
    border-radius: 5%;
    border: 1px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;

}

/* Give text a drop down shadow that is blurred */
.textShadow {
    text-shadow: 2px 2px 8px #888888;

}

.midWebsite {
    font-family: "Cormorant", 'serif';font-size:22px;
    text-shadow: 2px 2px 8px #888888;
    text-align: center;
    padding: 0px 20px 20px 20px;
}

.midWebsite2 {
    font-family: "Cormorant", 'serif';font-size:20px;
    text-shadow: 2px 2px 8px #888888;
    text-align: center;
    padding-top: 90px;
    padding-right: 240px;
    padding-bottom: 50px;
    padding-left: 240px;

}

.divider {
    text-align: center;
    background: rgb(253,255,239);
    background: radial-gradient(circle, rgba(253,255,239,1) 37%, rgba(240,255,234,1) 100%);
    opacity: 40%;

}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin-right: 40px;

}

/* This section is to experiment with the CSS Grid and try to get 4 boxes in  */

.gridContainer2 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-right: 40px;

}


.videoWrapper {
    border-radius: 5%;
    border: 1px;
    padding: 10px;
    box-shadow: 10px 10px 8px #888888;

}